<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.communitymarket"
      android:versionCode="1"
      android:versionName="1.0">
	
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="8"
		android:maxSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".home"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
		<activity android:name=".UserMenu"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".farmersList"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Farmer"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".findMarkets"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".findProducts"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".findRecipes"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".marketSearchResults"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".marketInformation"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".drivingDirections"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".drivingDirectionsMap"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".changeOrigin"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UserRegistration"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ManageMarkets"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AddNewMarket"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".editMarket"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Login"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar"
        		  android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>